/*main{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    padding: 2rem 0;*/
/*}*/

/*main img{*/
/*    width:400px;*/
/*    height: auto;*/
/*    margin-bottom: 2rem;*/
/*}*/



main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 2rem;
}

main img{
    width: 400px;
}