/*header {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    padding: 1.25rem;*/
/*    border-bottom: 1px solid var(--color-secondary-light-400);*/
/*}*/

/*header img{*/
/*    height:40px;*/
/*    width:auto;*/
/*}*/

/*header a{*/
/*    color:white;*/
/*    text-decoration: none;*/
/*    margin: 0 0.33rem;*/
/*}*/


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    border-bottom: 1px solid var(--color-secondary-light-400);
}

header img{
    height: 40px;
}

header a{
    color:white;
    text-decoration: none;
    margin: 0 0.33rem;
}





