/*
    Basic Styles
*/

.container{
    height: 400px;
    width: 80%;
    margin: 0 auto;
    border: var(--border-dashed);
    padding:0.5rem;
}

.item{
    width:120px;
    height:120px;
    color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-weight: 800;
    border: var(--border-solid);
    font-size: 2.25rem;
}






/*
    Flexbox Styles
*/

.flex-container{
    display: flex;
}

.flex-child{

}




















