/*
    Basic Styles
*/

.container{
    height: 400px;
    width: 80%;
    margin: 0 auto;
    border: var(--border-dashed);
    padding:0.5rem;
}

.item{
    width:200px;
    height:120px;
    color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-weight: 800;
    border: var(--border-solid);
    font-size: 2.25rem;
}






/*
    Flexbox Styles
*/

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-child{
    /*flex-grow: 1;*/
    flex-shrink: 0;
    flex-basis: 100px;
}

.flex-child:first-child{
    /*flex-grow: 1;*/
}

.flex-child:nth-child(2){

}




















